*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(175, 194, 212);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: rgb(255, 255, 255);
    font-size: larger;
    max-width: 700px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}
form{
    padding: 15px;
    display: contents;
}
input{
    width: 200px;
}
button{
   font-size: large;
   background-color:   rgb(175, 194, 212);
   border-radius: 5px;
}